Repository dart-windows/dartwinrt, pull requests merged in 2023-05, with the labels that each got.

#151 Refactor `winrtgen` pkg
  packages/winrtgen/lib/src/models/projection_type.dart
  packages/winrtgen/lib/src/models/type_arg.dart
  packages/winrtgen/lib/src/projections/getter.dart
  packages/winrtgen/lib/src/projections/method.dart
  packages/winrtgen/lib/src/projections/parameter.dart
  packages/winrtgen/lib/src/projections/setter.dart
  packages/winrtgen/lib/src/projections/type.dart
  packages/winrtgen/lib/src/projections/types/generic.dart
  packages/winrtgen/lib/src/utilities/extensions/base_type_helpers.dart
  packages/winrtgen/lib/src/utilities/extensions/import_helpers.dart
  packages/winrtgen/lib/src/utilities/extensions/type_identifier_helpers.dart
  packages/winrtgen/lib/src/utilities/extensions/typedef_helpers.dart
  packages/winrtgen/test/models/type_arg_test.dart
  packages/winrtgen/test/utilities/extensions/base_type_helpers_test.dart
  packages/winrtgen/test/utilities/extensions/typedef_helpers_test.dart
Labels: p: winrtgen, refactor

#152 Update README.md
  README.md
Labels: documentation

#153 Add `topics` to `pubspec.yaml`
  packages/windows_ai/pubspec.yaml
  packages/windows_applicationmodel/pubspec.yaml
  packages/windows_data/pubspec.yaml
  packages/windows_devices/pubspec.yaml
  packages/windows_foundation/pubspec.yaml
  packages/windows_gaming/pubspec.yaml
  packages/windows_globalization/pubspec.yaml
  packages/windows_graphics/pubspec.yaml
  packages/windows_management/pubspec.yaml
  packages/windows_media/pubspec.yaml
  packages/windows_networking/pubspec.yaml
  packages/windows_perception/pubspec.yaml
  packages/windows_security/pubspec.yaml
  packages/windows_services/pubspec.yaml
  packages/windows_storage/pubspec.yaml
  packages/windows_system/pubspec.yaml
  packages/windows_ui/pubspec.yaml
  packages/windows_web/pubspec.yaml
  packages/winrtgen/pubspec.yaml
Labels: p: windows_data, p: windows_devices, p: windows_foundation, p: windows_gaming, p: windows_globalization, p: windows_graphics, p: windows_media, p: windows_networking, p: windows_storage, p: windows_system, p: windows_ui, p: winrtgen, p: windows_security, chore, p: windows_ai, p: windows_management, p: windows_perception, p: windows_web, p: windows_services, p: windows_applicationmodel

#155 Update README.md
  packages/windows_devices/example/README.md
  packages/windows_globalization/example/README.md
  packages/windows_storage/example/README.md
Labels: documentation, p: windows_devices, p: windows_globalization, p: windows_storage

#157 Add some examples
  packages/windows_devices/example/README.md
  packages/windows_devices/example/audio_rendering_devices.dart
  packages/windows_system/example/README.md
  packages/windows_system/example/power_manager.dart
Labels: p: windows_devices, p: windows_system, chore

#165 Update AUTHORS and CHANGELOG.md files
  AUTHORS
  packages/windows_ai/AUTHORS
  packages/windows_ai/CHANGELOG.md
  packages/windows_applicationmodel/AUTHORS
  packages/windows_applicationmodel/CHANGELOG.md
  packages/windows_data/AUTHORS
  packages/windows_data/CHANGELOG.md
  packages/windows_devices/AUTHORS
  packages/windows_devices/CHANGELOG.md
  packages/windows_foundation/AUTHORS
  packages/windows_foundation/CHANGELOG.md
  packages/windows_gaming/AUTHORS
  packages/windows_gaming/CHANGELOG.md
  packages/windows_gaming/example/gamepad.dart
  packages/windows_globalization/AUTHORS
  packages/windows_globalization/CHANGELOG.md
  packages/windows_graphics/AUTHORS
  packages/windows_graphics/CHANGELOG.md
  packages/windows_management/AUTHORS
  packages/windows_management/CHANGELOG.md
  packages/windows_media/AUTHORS
  packages/windows_media/CHANGELOG.md
  packages/windows_networking/AUTHORS
  packages/windows_networking/CHANGELOG.md
  packages/windows_perception/AUTHORS
  packages/windows_perception/CHANGELOG.md
  packages/windows_security/AUTHORS
  packages/windows_security/CHANGELOG.md
  packages/windows_services/AUTHORS
  packages/windows_services/CHANGELOG.md
  packages/windows_storage/AUTHORS
  packages/windows_storage/CHANGELOG.md
  packages/windows_system/AUTHORS
  packages/windows_system/CHANGELOG.md
  packages/windows_ui/AUTHORS
  packages/windows_ui/CHANGELOG.md
  packages/windows_web/AUTHORS
  packages/windows_web/CHANGELOG.md
  packages/winrtgen/AUTHORS
Labels: p: windows_data, p: windows_devices, p: windows_foundation, p: windows_gaming, p: windows_globalization, p: windows_graphics, p: windows_media, p: windows_networking, p: windows_storage, p: windows_system, p: windows_ui, p: winrtgen, p: windows_security, chore, p: windows_ai, p: windows_management, p: windows_perception, p: windows_web, p: windows_services, p: windows_applicationmodel

#166 Updates to `winrtgen`
  dartdoc_options.yaml
  packages/winrtgen/CHANGELOG.md
  packages/winrtgen/pubspec.yaml
Labels: p: winrtgen

#167 Update homepage links and add documentation links
  packages/windows_ai/pubspec.yaml
  packages/windows_applicationmodel/pubspec.yaml
  packages/windows_data/pubspec.yaml
  packages/windows_devices/pubspec.yaml
  packages/windows_foundation/pubspec.yaml
  packages/windows_gaming/example/gamepad.dart
  packages/windows_gaming/pubspec.yaml
  packages/windows_globalization/pubspec.yaml
  packages/windows_graphics/pubspec.yaml
  packages/windows_management/pubspec.yaml
  packages/windows_media/pubspec.yaml
  packages/windows_networking/pubspec.yaml
  packages/windows_perception/pubspec.yaml
  packages/windows_security/pubspec.yaml
  packages/windows_services/pubspec.yaml
  packages/windows_storage/pubspec.yaml
  packages/windows_system/pubspec.yaml
  packages/windows_ui/pubspec.yaml
  packages/windows_web/pubspec.yaml
Labels: documentation, p: windows_data, p: windows_devices, p: windows_foundation, p: windows_gaming, p: windows_globalization, p: windows_graphics, p: windows_media, p: windows_networking, p: windows_storage, p: windows_system, p: windows_ui, p: windows_security, p: windows_ai, p: windows_management, p: windows_perception, p: windows_web, p: windows_services, p: windows_applicationmodel

#168 Add `DownloadsFolder`
  packages/windows_storage/lib/src/downloadsfolder.dart
  packages/windows_storage/lib/src/exports.g.dart
  packages/windows_storage/lib/src/idownloadsfolderstatics.dart
  packages/windows_storage/lib/src/idownloadsfolderstatics2.dart
  packages/winrtgen/data/objects.json
Labels: enhancement, p: windows_storage, p: winrtgen

#169 Add more APIs from `Windows.Storage` namespace
  packages/windows_storage/lib/src/applicationdata.dart
  packages/windows_storage/lib/src/applicationdatacontainer.dart
  packages/windows_storage/lib/src/applicationdatacreatedisposition.dart
  packages/windows_storage/lib/src/applicationdatalocality.dart
  packages/windows_storage/lib/src/exports.g.dart
  packages/windows_storage/lib/src/fileio.dart
  packages/windows_storage/lib/src/iapplicationdata.dart
  packages/windows_storage/lib/src/iapplicationdata2.dart
  packages/windows_storage/lib/src/iapplicationdata3.dart
  packages/windows_storage/lib/src/iapplicationdatacontainer.dart
  packages/windows_storage/lib/src/iapplicationdatastatics.dart
  packages/windows_storage/lib/src/iapplicationdatastatics2.dart
  packages/windows_storage/lib/src/ifileiostatics.dart
  packages/winrtgen/bin/add_type.dart
  packages/winrtgen/data/enums.json
  packages/winrtgen/data/objects.json
  packages/winrtgen/lib/src/constants/exclusions.dart
Labels: enhancement

#164 Add more examples
  packages/windows_data/example/README.md
  packages/windows_data/example/json.dart
  packages/windows_data/example/xmldom.dart
  packages/windows_foundation/example/README.md
  packages/windows_foundation/example/map.dart
  packages/windows_globalization/example/README.md
  packages/windows_globalization/example/phone_number_formatter.dart
  packages/windows_networking/example/README.md
  packages/windows_networking/example/connectivity.dart
  packages/windows_networking/example/tethering.dart
  packages/windows_storage/example/README.md
  packages/windows_storage/example/storage.dart
Labels: p: windows_data, p: windows_foundation, p: windows_globalization, p: windows_networking, p: windows_storage, chore

#170 Update README.md
  README.md
Labels: documentation

#171 Add `Likes` column to the packages table
  README.md
Labels: documentation

#173 Move IUnknown helpers to the main library
  packages/windows_foundation/lib/src/exports.g.dart
  packages/windows_foundation/lib/src/extensions/iunknown_helpers.dart
  packages/windows_foundation/lib/src/helpers.dart
  packages/windows_foundation/lib/src/internal/extensions/extensions.dart
  packages/windows_foundation/test/iunknown_test.dart
Labels: enhancement, p: windows_foundation

#175 Prepare to publish `windows_foundation` pkg
  packages/windows_foundation/lib/src/collections/imap.dart
  packages/windows_foundation/pubspec.yaml
Labels: p: windows_foundation, chore

#177 Prepare to publish `windows_globalization` pkg
  packages/windows_globalization/pubspec.yaml
Labels: chore

#178 Prepare to publish `windows_media` pkg
  packages/windows_media/pubspec.yaml
Labels: p: windows_media, chore

#179 Prepare to publish `windows_foundation` v0.0.2
  packages/windows_foundation/CHANGELOG.md
  packages/windows_foundation/lib/src/collections/imap.dart
  packages/windows_foundation/pubspec.yaml
Labels: p: windows_foundation

#181 Prepare to publish `windows_storage` pkg
  packages/windows_storage/lib/src/search/istoragefilequeryresult2.dart
  packages/windows_storage/lib/src/search/storagefilequeryresult.dart
  packages/windows_storage/pubspec.yaml
Labels: p: windows_storage, chore

#182 Prepare to publish `windows_data`
  packages/windows_data/pubspec.yaml
Labels: chore

#183 Prepare to publish `windows_storage` v0.0.2
  packages/windows_storage/CHANGELOG.md
  packages/windows_storage/lib/src/search/istoragefilequeryresult2.dart
  packages/windows_storage/lib/src/search/storagefilequeryresult.dart
  packages/windows_storage/pubspec.yaml
Labels: chore

#184 Prepare to publish `windows_networking`
  packages/windows_networking/pubspec.yaml
Labels: chore

#186 Prepare to publish `windows_devices` pkg
  packages/windows_devices/pubspec.yaml
Labels: chore

#187 Prepare to publish the remaining packages
  packages/windows_ai/pubspec.yaml
  packages/windows_data/pubspec.yaml
  packages/windows_gaming/pubspec.yaml
  packages/windows_graphics/pubspec.yaml
  packages/windows_management/pubspec.yaml
  packages/windows_perception/pubspec.yaml
  packages/windows_security/pubspec.yaml
  packages/windows_services/pubspec.yaml
  packages/windows_web/pubspec.yaml
Labels: p: windows_data, p: windows_gaming, p: windows_graphics, p: windows_security, chore, p: windows_ai, p: windows_management, p: windows_perception, p: windows_web, p: windows_services

#188 Fix typo in link
  README.md
Labels: documentation

#189 Add example of getting battery information
  packages/windows_devices/example/README.md
  packages/windows_devices/example/battery.dart
  packages/windows_devices/lib/src/exports.g.dart
  packages/windows_devices/lib/src/power/battery.dart
  packages/windows_devices/lib/src/power/ibattery.dart
  packages/windows_devices/lib/src/power/ibatterystatics.dart
  packages/winrtgen/data/objects.json
Labels: p: windows_devices, p: winrtgen

#193 Add monitor characteristics
  packages/windows_devices/example/README.md
  packages/windows_devices/example/display.dart
  packages/windows_devices/lib/src/display/displaymonitor.dart
  packages/windows_devices/lib/src/display/displaymonitorconnectionkind.dart
  packages/windows_devices/lib/src/display/displaymonitordescriptorkind.dart
  packages/windows_devices/lib/src/display/displaymonitorphysicalconnectorkind.dart
  packages/windows_devices/lib/src/display/displaymonitorusagekind.dart
  packages/windows_devices/lib/src/display/idisplaymonitor.dart
  packages/windows_devices/lib/src/display/idisplaymonitor2.dart
  packages/windows_devices/lib/src/display/idisplaymonitorstatics.dart
  packages/windows_devices/lib/src/exports.g.dart
  packages/windows_devices/pubspec.yaml
  packages/windows_foundation/lib/src/internal/native_structs.g.dart
  packages/windows_graphics/lib/src/displayadapterid.dart
  packages/windows_graphics/lib/src/exports.g.dart
  packages/windows_graphics/lib/src/sizeint32.dart
  packages/windows_graphics/pubspec.yaml
  packages/winrtgen/data/enums.json
  packages/winrtgen/data/objects.json
  packages/winrtgen/data/structs.json
  packages/winrtgen/lib/src/projections/types/default.dart
  packages/winrtgen/test/projections/method_test.dart
Labels: p: windows_devices, p: windows_foundation, p: windows_graphics, p: winrtgen

#194 chore(windows_foundation): release v0.0.3
  packages/windows_foundation/CHANGELOG.md
  packages/windows_foundation/pubspec.yaml
Labels: p: windows_foundation, chore

#195 chore(windows_graphics): release v0.0.2
  packages/windows_graphics/CHANGELOG.md
  packages/windows_graphics/pubspec.yaml
Labels: p: windows_graphics, chore

#198 chore(windows_foundation): release v0.0.4
  packages/windows_foundation/CHANGELOG.md
  packages/windows_foundation/pubspec.yaml
Labels: p: windows_foundation, chore

#191 Add `WebAuthenticationCoreManager` and `WebAuthenticationCoreManagerInterop` classes
  packages/windows_foundation/lib/src/winrt_com_interop_helpers.dart
  packages/windows_security/lib/src/authentication/web/core/findallaccountsresult.dart
  packages/windows_security/lib/src/authentication/web/core/findallwebaccountsstatus.dart
  packages/windows_security/lib/src/authentication/web/core/ifindallaccountsresult.dart
  packages/windows_security/lib/src/authentication/web/core/iwebaccountmonitor.dart
  packages/windows_security/lib/src/authentication/web/core/iwebaccountmonitor2.dart
  packages/windows_security/lib/src/authentication/web/core/iwebauthenticationcoremanagerstatics.dart
  packages/windows_security/lib/src/authentication/web/core/iwebauthenticationcoremanagerstatics2.dart
  packages/windows_security/lib/src/authentication/web/core/iwebauthenticationcoremanagerstatics3.dart
  packages/windows_security/lib/src/authentication/web/core/iwebauthenticationcoremanagerstatics4.dart
  packages/windows_security/lib/src/authentication/web/core/iwebprovidererror.dart
  packages/windows_security/lib/src/authentication/web/core/iwebprovidererrorfactory.dart
  packages/windows_security/lib/src/authentication/web/core/iwebtokenrequest.dart
  packages/windows_security/lib/src/authentication/web/core/iwebtokenrequest2.dart
  packages/windows_security/lib/src/authentication/web/core/iwebtokenrequest3.dart
  packages/windows_security/lib/src/authentication/web/core/iwebtokenrequestfactory.dart
  packages/windows_security/lib/src/authentication/web/core/iwebtokenrequestresult.dart
  packages/windows_security/lib/src/authentication/web/core/iwebtokenresponse.dart
  packages/windows_security/lib/src/authentication/web/core/iwebtokenresponsefactory.dart
  packages/windows_security/lib/src/authentication/web/core/webaccountmonitor.dart
  packages/windows_security/lib/src/authentication/web/core/webauthenticationcoremanager.dart
  packages/windows_security/lib/src/authentication/web/core/webprovidererror.dart
  packages/windows_security/lib/src/authentication/web/core/webtokenrequest.dart
  packages/windows_security/lib/src/authentication/web/core/webtokenrequestprompttype.dart
  packages/windows_security/lib/src/authentication/web/core/webtokenrequestresult.dart
  packages/windows_security/lib/src/authentication/web/core/webtokenrequeststatus.dart
  packages/windows_security/lib/src/authentication/web/core/webtokenresponse.dart
  packages/windows_security/lib/src/credentials/iwebaccount.dart
  packages/windows_security/lib/src/credentials/iwebaccount2.dart
  packages/windows_security/lib/src/credentials/iwebaccountfactory.dart
  packages/windows_security/lib/src/credentials/iwebaccountprovider.dart
  packages/windows_security/lib/src/credentials/iwebaccountprovider2.dart
  packages/windows_security/lib/src/credentials/iwebaccountprovider3.dart
  packages/windows_security/lib/src/credentials/iwebaccountprovider4.dart
  packages/windows_security/lib/src/credentials/iwebaccountproviderfactory.dart
  packages/windows_security/lib/src/credentials/webaccount.dart
  packages/windows_security/lib/src/credentials/webaccountpicturesize.dart
  packages/windows_security/lib/src/credentials/webaccountprovider.dart
  packages/windows_security/lib/src/exports.g.dart
  packages/windows_security/lib/src/winrt_com_interop_helpers.dart
  packages/windows_security/pubspec.yaml
  packages/winrtgen/data/enums.json
  packages/winrtgen/data/objects.json
Labels: p: windows_foundation, p: winrtgen, p: windows_security

#200 chore(windows_system): release v0.0.2
  packages/windows_system/CHANGELOG.md
  packages/windows_system/pubspec.yaml
Labels: p: windows_system, chore

#199 chore(windows_security): release v0.0.2
  packages/windows_security/CHANGELOG.md
  packages/windows_security/pubspec.yaml
Labels: p: windows_security, chore

#201 Support projection of `IMapView` parameters
  packages/winrtgen/lib/src/projections/parameter.dart
  packages/winrtgen/lib/src/projections/type.dart
  packages/winrtgen/test/projections/parameter_test.dart
Labels: enhancement, p: winrtgen

#202 Improve README files
  README.md
  packages/windows_ai/README.md
  packages/windows_applicationmodel/README.md
  packages/windows_data/README.md
  packages/windows_data/example/README.md
  packages/windows_devices/README.md
  packages/windows_devices/example/README.md
  packages/windows_foundation/README.md
  packages/windows_foundation/example/README.md
  packages/windows_gaming/README.md
  packages/windows_globalization/README.md
  packages/windows_globalization/example/README.md
  packages/windows_graphics/README.md
  packages/windows_management/README.md
  packages/windows_media/README.md
  packages/windows_networking/README.md
  packages/windows_networking/example/README.md
  packages/windows_perception/README.md
  packages/windows_security/README.md
  packages/windows_services/README.md
  packages/windows_storage/README.md
  packages/windows_storage/example/README.md
  packages/windows_system/README.md
  packages/windows_system/example/README.md
  packages/windows_ui/README.md
  packages/windows_web/README.md
  packages/winrtgen/README.md
Labels: documentation, p: windows_data, p: windows_devices, p: windows_foundation, p: windows_gaming, p: windows_globalization, p: windows_graphics, p: windows_media, p: windows_networking, p: windows_storage, p: windows_system, p: windows_ui, p: winrtgen, p: windows_security, p: windows_ai, p: windows_management, p: windows_perception, p: windows_web, p: windows_services, p: windows_applicationmodel

#203 Improve examples
  packages/windows_data/example/json.dart
  packages/windows_data/example/xmldom.dart
  packages/windows_devices/example/README.md
  packages/windows_devices/example/audio.dart
  packages/windows_devices/example/battery.dart
  packages/windows_devices/example/display.dart
  packages/windows_devices/example/geolocator.dart
  packages/windows_foundation/example/map.dart
  packages/windows_globalization/example/README.md
  packages/windows_globalization/example/calendar.dart
  packages/windows_globalization/example/formatter.dart
  packages/windows_networking/example/connectivity.dart
  packages/windows_networking/example/tethering.dart
  packages/windows_storage/example/picker.dart
  packages/windows_storage/example/storage.dart
  packages/windows_system/example/README.md
  packages/windows_system/example/power_manager.dart
Labels: p: windows_data, p: windows_devices, p: windows_foundation, p: windows_globalization, p: windows_networking, p: windows_storage, p: windows_system, refactor

#208 ci: ensure PR titles follow the Conventional Commits spec
  .github/workflows/pr_title.yml
Labels: area: build & ci

#206 ci: update labeler.yml
  .github/labeler.yml
Labels: area: build & ci

#211 feat(windows_foundation): add some structs from Windows.UI namespace
  packages/windows_foundation/lib/src/internal/native_structs.g.dart
Labels: pkg: windows_foundation

#210 ci: delete pr_title.yml
  .github/workflows/pr_title.yml
Labels: area: build & ci

#214 ci: clean up melos.yaml
  melos.yaml
Labels: area: build & ci

#213 chore(windows_devices): add missing license header for example
  packages/windows_devices/example/display.dart
Labels: pkg: windows_devices, area: examples

#212 docs: update <xx>.microsoft.com URLs
  packages/windows_data/example/json.dart
  packages/windows_foundation/lib/src/internal/extensions/boxing_helpers.dart
  packages/windows_foundation/lib/src/types.dart
  packages/windows_foundation/lib/src/winrt_com_interop_helpers.dart
  packages/windows_globalization/test/calendar_test.dart
  packages/windows_security/lib/src/winrt_com_interop_helpers.dart
  packages/winrtgen/lib/src/projections/interface.dart
  packages/winrtgen/lib/src/projections/types/reference.dart
  packages/winrtgen/lib/src/utilities/extensions/base_type_helpers.dart
  packages/winrtgen/lib/src/utilities/extensions/camel_case_conversion.dart
  packages/winrtgen/lib/src/utilities/helpers.dart
  tool/README.md
Labels: pkg: windows_data, pkg: windows_foundation, pkg: windows_globalization, pkg: winrtgen, pkg: windows_security

#215 chore(release): publish packages
  CHANGELOG.md
  packages/windows_data/CHANGELOG.md
  packages/windows_data/pubspec.yaml
  packages/windows_devices/CHANGELOG.md
  packages/windows_devices/pubspec.yaml
  packages/windows_foundation/CHANGELOG.md
  packages/windows_foundation/pubspec.yaml
  packages/windows_globalization/CHANGELOG.md
  packages/windows_globalization/pubspec.yaml
  packages/windows_security/CHANGELOG.md
  packages/windows_security/pubspec.yaml
Labels: pkg: windows_data, pkg: windows_devices, pkg: windows_foundation, pkg: windows_globalization, pkg: windows_security

#217 feat(windows_ui): add `MessageDialog` APIs
  packages/windows_ui/README.md
  packages/windows_ui/example/README.md
  packages/windows_ui/example/dialog.dart
  packages/windows_ui/lib/src/exports.g.dart
  packages/windows_ui/lib/src/popups/imessagedialog.dart
  packages/windows_ui/lib/src/popups/imessagedialogfactory.dart
  packages/windows_ui/lib/src/popups/iuicommand.dart
  packages/windows_ui/lib/src/popups/iuicommandfactory.dart
  packages/windows_ui/lib/src/popups/messagedialog.dart
  packages/windows_ui/lib/src/popups/messagedialogoptions.dart
  packages/windows_ui/lib/src/popups/uicommand.dart
  packages/windows_ui/lib/src/popups/uicommandseparator.dart
  packages/winrtgen/data/enums.json
  packages/winrtgen/data/objects.json
Labels: type: feature, pkg: windows_ui, pkg: winrtgen

#216 feat(windows_ui): add Windows UI Automation APIs
  packages/windows_ui/lib/src/exports.g.dart
  packages/windows_ui/lib/src/uiautomation/automationconnection.dart
  packages/windows_ui/lib/src/uiautomation/automationconnectionboundobject.dart
  packages/windows_ui/lib/src/uiautomation/automationelement.dart
  packages/windows_ui/lib/src/uiautomation/automationtextrange.dart
  packages/windows_ui/lib/src/uiautomation/core/automationannotationtyperegistration.dart
  packages/windows_ui/lib/src/uiautomation/core/automationremoteoperationoperandid.dart
  packages/windows_ui/lib/src/uiautomation/core/automationremoteoperationresult.dart
  packages/windows_ui/lib/src/uiautomation/core/automationremoteoperationstatus.dart
  packages/windows_ui/lib/src/uiautomation/core/coreautomationregistrar.dart
  packages/windows_ui/lib/src/uiautomation/core/coreautomationremoteoperation.dart
  packages/windows_ui/lib/src/uiautomation/core/coreautomationremoteoperationcontext.dart
  packages/windows_ui/lib/src/uiautomation/core/iautomationremoteoperationresult.dart
  packages/windows_ui/lib/src/uiautomation/core/icoreautomationconnectionboundobjectprovider.dart
  packages/windows_ui/lib/src/uiautomation/core/icoreautomationregistrarstatics.dart
  packages/windows_ui/lib/src/uiautomation/core/icoreautomationremoteoperation.dart
  packages/windows_ui/lib/src/uiautomation/core/icoreautomationremoteoperation2.dart
  packages/windows_ui/lib/src/uiautomation/core/icoreautomationremoteoperationcontext.dart
  packages/windows_ui/lib/src/uiautomation/core/icoreautomationremoteoperationextensionprovider.dart
  packages/windows_ui/lib/src/uiautomation/core/iremoteautomationclientsession.dart
  packages/windows_ui/lib/src/uiautomation/core/iremoteautomationclientsessionfactory.dart
  packages/windows_ui/lib/src/uiautomation/core/iremoteautomationserverstatics.dart
  packages/windows_ui/lib/src/uiautomation/core/iremoteautomationwindow.dart
  packages/windows_ui/lib/src/uiautomation/core/remoteautomationclientsession.dart
  packages/windows_ui/lib/src/uiautomation/core/remoteautomationserver.dart
  packages/windows_ui/lib/src/uiautomation/core/remoteautomationwindow.dart
  packages/windows_ui/lib/src/uiautomation/iautomationconnection.dart
  packages/windows_ui/lib/src/uiautomation/iautomationconnectionboundobject.dart
  packages/windows_ui/lib/src/uiautomation/iautomationelement.dart
  packages/windows_ui/lib/src/uiautomation/iautomationtextrange.dart
  packages/windows_ui/pubspec.yaml
  packages/winrtgen/data/enums.json
  packages/winrtgen/data/objects.json
  packages/winrtgen/data/structs.json
  packages/winrtgen/lib/src/projections/struct.dart
Labels: type: feature, pkg: windows_ui, pkg: winrtgen
